@import url("https://fonts.googleapis.com/css?family=Roboto");

.MainPage {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.second-container {
  display: flex;
  flex-direction: row;
  flex-grow: 15;
}

.third-container {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.customizations {
  display: flex;
  flex-direction: row;
  background-color: darkgreen;
  flex-grow: 1;
}

.passwords-area {
  background-color: darkmagenta;
  flex-grow: 8;
}

.add-button-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



