.MainPage {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.search {
  background-color: darkgrey;
  flex-grow: 1;
}

.second-container {
  display: flex;
  flex-direction: row;
  flex-grow: 15;
}

.favorites {
  background-color: gray;
  flex-grow: 1;
}
.third-container {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.customizations {
  display: flex;
  flex-direction: column;
  background-color: darkgreen;
  flex-grow: 1;
}

.passwords {
  background-color: darkmagenta;
  flex-grow: 8;
}

.options {
  flex-grow: 5;
}

.add-button {
  flex-grow: 1;
}
